body, .contents, .header, .navpath, #doc-content, ui-rezisable-e {
	background-color: #F0F4F7 !important;
	color: #000 !important;
}
#projectname {
	padding-top: 5px !important;
	margin.top: 5px !important;
}

div.header, #titlearea{
	background-color: #FAFAFA !important;
	border-bottom: 1px solid #ccc !important;
	padding: 10px !important;
}
